body {
  background-color: rgb(228, 228, 228) !important;
}

.container {
  position: relative;
  margin-top: 1%;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0px;
}

.h1-title {
  text-align: center;
  margin-top: 10%;
  font-size: 1.7rem;
}

td, th {
  border: none;
  text-align: left;
  padding: 8px;

}

.no-bold {
  font-weight: normal;
}

